<div>
  <tr>
    <th scope="row"><%= my_search.id %></th>
      <td><%= my_search.make %></td>
      <td><%= my_search.model %></td>
      <td><%= my_search.year_from %></td>
      <td><%= my_search.year_to %></td>
      <td><%= my_search.price_from %></td>
      <td><%= my_search.price_to %></td>
  </tr>
</div>
